.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .box{
    background-color: #0c0f1d;
    /* margin: 15% auto; */
    top: 25%;
    left: calc(50% - 160px);
    padding: 20px;
    width: 320px;
    height: 200px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
  }

  .box::before 
{
	content: '';
	z-index: 1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 320px;
	height: 200px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#45f3ff,#f945ff);
	animation: animate 6s linear infinite;
}
.box::after 
{
	content: '';
	z-index: 0;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 320px;
	height: 200px;
	transform-origin: bottom right;
	background: linear-gradient(0deg,transparent,#f945ff,#45f3ff);
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}
@keyframes animate 
{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(360deg);
	}
}
  
  .modal-content {
    background-color: #0c0f1d;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 20px;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;
    padding: 20px;
  }
  

  .modal-form {
    width: 100%;
  }

  .modal-name, .modal-tel {
    display: block;
    width: 80%;
    margin: 15px auto;
    height: 30px;
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    background-color: #3d456c;
    color: #f0f0f0;
  }

  .modal-name::placeholder, .modal-tel::placeholder{
    color: #f0f0f0;
  }

  .modal-btn {
    display: block;
    width: 70%;
    height: 40px;
    border-radius: 20px;
    border: 0;
    margin: auto;
    background: linear-gradient(67deg, rgba(237,18,186,1) 26%, rgba(15,131,243,1) 100%);
    box-shadow: 0 0px 22.56px 1.44px rgb(26 25 255 / 89%);
    transition:  box-shadow 0.5s ease;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 20px;
  }


  .modal-btn:hover {
    box-shadow: none;
  }

  .close {
    filter: invert(1);
    position: absolute;
    top: calc(25% - 15px);
    left: calc(50% + 127px);
    transition: 0.5s;
    cursor: pointer;
    z-index: 3;
  }

  .close:hover {
    transform: scale(0.9);
  }
  
  .agree {
    box-shadow: 0 0px 22.56px 1.44px rgba(25, 255, 109, 0.89);
  }
