.first-info {
    width: 100%;
    height: 600px;
    background-image: url("img/bilyard.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    /* background-color: blue; */
}

.first-info-container {
    width: 500px;
    height: 350px;
    background-color: #0c0f1dab;
    border-radius: 20px;
    padding: 40px 10px 10px 40px;
    position: absolute;
    left: 150px;
    top: 100px;
}

.first-info-elem h2 {
    font-size: 34px;
    color: #fff;
    text-shadow: -1px 1px 0px #c29dfa, -3px 3px 0px rgb(147 79 250), -6px 6px 0px #6600ff;
}

.first-info-elem p {
    display: inline-block;
    width: 90%;
    margin-top: 10px;
    font-size: 19px;
    color: #fff;
}

.elem-btn button {
    margin-top: 20px;
    width: 220px;
    padding: 15px 30px 10px;
    font-family: "Muller", "Arial", sans-serif;
    font-size: 15px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(to right, #ed12ba, #0f83f3);
    border-radius: 10px;
    box-shadow: 0 0px 22.56px 1.44px rgb(26 25 255 / 89%);
    border: 0;
    border-bottom: 2px solid #e109e0;
    text-align: center;
    cursor: pointer;
    transition:  box-shadow 0.5s ease;
    text-align: center;
}

.about-block {
    width: 100%;
}

.about-container{
    width: 50%;
    margin: 50px auto;
}

.about-container p {
    line-height: 1.7;
    margin-bottom: 19px;
    font-size: 16px;
    text-align: center;
    position: relative;
    font-weight: 500;
}

.p a {
    text-decoration: none;
    color: rgb(0, 145, 255);
    transition: all 0.3s linear;
}

.p a:hover {
    filter: brightness(30%);
}


.about-container h1 {
    color: #25272c;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}

.about-container h1::after {
    display: block;
    width: 50px;
    height: 5px;
    background-color: #000;
    content: "";
    position: absolute;
    left: calc(50% - 25px);
    bottom: -25px;
}

.eror {
    box-shadow: 0 0px 22.56px 1.44px rgba(255, 25, 25, 0.89);
}
.eror:focus {
    box-shadow: 0 0px 22.56px 1.44px rgba(255, 25, 25, 0.89) !important;
}

  .active {
    color: #6e88ff !important;
  }

  @media (max-width:900px){
    .about-container {
        width: 90%;
    }
}

@media (max-width:800px){
    .first-info-container {
        left: 50px;
    }
}

@media (max-width:600px){
    .first-info-container {
        left: 15px;
        width: 450px;
    }
}

@media (max-width:500px){
    .first-info {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
    }
    .first-info-container {
        position: static;
        width: 300px;
        height: 350px;
    }
    .first-info-container p {
        font-size: 15px;
    }
}
