.main-container {
    width: 100%;
}

.shareToday-container {
    display: flex;
}
.shareToday {
    margin-bottom: 20px;
}
.shareToday a {
    text-decoration: none;
    color: rgb(0, 145, 255);
}

.partners {
    width: 100%;
}

.partners h1, .twoPlusOne h1, .shareToday h1 {
    text-align: center;
    margin: 40px 0;
    position: relative;
}
.shareToday h2 {
    text-align: center;
    margin: 20px 0px 40px 0;
    position: relative;
}

.shareToday h2::after {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #000;
    content: "";
    position: absolute;
    left: calc(50% - 15px);
    bottom: -15px;
}

.partners h1::after, .twoPlusOne h1::after, .shareToday h1::after  {
    display: block;
    width: 50px;
    height: 5px;
    background-color: #000;
    content: "";
    position: absolute;
    left: calc(50% - 25px);
    bottom: -25px;
}

.partners-container, .twoPlusOne-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.partners-container p, .twoPlusOne-container p {
    width: 90%;
    text-align: center;
    margin-top: 10px;
}

.twoPlusOne-container p {
    width: 80%;
}

.small {
    font-size: 14px;
    opacity: 0.8;
}

.partners-icon, .twoPlusOne-icon {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin: 10px auto;
}

.twoPlusOne-icon {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin: 10px auto;
}

.partners-icon img, .twoPlusOne-icon  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card, .sertificat {
    width: 100%;
}

.card h1, .sertificat h1 {
    text-align: center;
    margin: 40px 0;
    position: relative;
}

.card h1::after, .sertificat h1::after {
    display: block;
    width: 50px;
    height: 5px;
    background-color: #000;
    content: "";
    position: absolute;
    left: calc(50% - 25px);
    bottom: -25px;
}

.card-container, .sertificat-container{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}

.container-elem, .sertificat-container-elem {
    margin-right: 20px;
    padding: 10px;
}

.card-icon, .sertificat-icon {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin: 10px auto;
}

.card-icon img, .sertificat-icon img {
    width: 100%;
    height: 100%;
}

.addCard, .addSert{
    width: 100%;
    margin-top: 70px;
}

.addCard h2, .addSert h2 {
    text-align: center;
    margin-bottom: 40px;
    position: relative;
}

.addCard h2::after, .addSert h2::after {
    display: block;
    width: 50px;
    height: 5px;
    background-color: #000;
    content: "";
    position: absolute;
    left: calc(50% - 25px);
    bottom: -25px;
}

.addCard p, .addSert p {
    text-align: center;
}

.addCard form, .addSert form {
    width: 60%;
    margin:  40px auto;
    display: flex;
    justify-content: center;
}

.card-input, .sert-input, #sertValue {
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid  rgb(206,223,225);
    outline: none;
    padding-left: 15px;
    display: block;
    margin-right: 20px;
    transition: all 0.5s linear;
    color: rgb(0 0 0 / 70%);
}
.card-input::-webkit-input-placeholder, .sert-input::-webkit-input-placeholder, #sertValue::-webkit-input-placeholder {
    color: rgb(0 0 0 / 70%);
   } 
.card-input::-moz-placeholder, .sert-input::-moz-placeholder, #sertValue::-moz-placeholder {
    color: rgb(0 0 0 / 70%);
   }
.selected {
    color: rgb(0 0 0 / 70%);
}

.card-input:focus, .sert-input:focus, #sertValue:focus {
    border: 2px solid rgb(206 223 225 / 0%);
    box-shadow: 0 0px 12.56px 1.44px rgb(12, 15, 29);
}

#sertValue {
    width: 150px;
    height: 40px;
}

.card-add, .sert-add {
    text-decoration: none;
    width: 175px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(to right, #ed12ba, #0f83f3);
    box-shadow: 0 0px 22.56px 1.44px rgb(26 25 255 / 89%);
    transition:  box-shadow 0.5s ease;
    border-bottom: 2px solid #e109e0;
    color: #fff;
    font-weight: 800;
    font-family: 'Mulish', sans-serif;
}

.card-add:hover, .sert-add:hover {
    box-shadow: none;
}


.eror {
    box-shadow: 0 0px 22.56px 1.44px rgba(255, 25, 25, 0.89);
}
.eror:focus {
    box-shadow: 0 0px 22.56px 1.44px rgba(255, 25, 25, 0.89) !important;
}

.active {
    color: #6e88ff !important;
  }

  @media (max-width:1100px){
    .card-container, .sertificat-container {
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    }
    .card-icon, .sertificat-icon {
        width: 500px;
        height: 300px;
        margin: auto;
        margin-bottom: 10px;
    }
    .container-elem, .sertificat-container-elem {
        margin-right: 0;
    }
    .addCard form {
        width: 80%;
    }
    .addSert form {
        width: 80%;
    }
    .sert-input,.sert-add,#sertValue {
        width: 25%;
    }
  }

  @media (max-width:800px){
    .addCard form {
        width: 90%;
    }
    .card-input {
        width: 35%;
    }
    .card-add {
        width: 30%;
    }
  }

  @media (max-width:700px){
    .addSert form {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
    .sert-input, #sertValue {
        width: 70%;
        margin-right: 0;
    }
    .sert-add {
        width: 60%;
        margin-top: 5px;
    }
  }

  @media (max-width:650px){
    .shareToday-container {
        display: block;
    }
    .partners-container p, .twoPlusOne-container p {
        font-size: 15px;
    }
  }

  @media (max-width: 550px){
    .card-icon, .sertificat-icon {
        width:300px;
        height: 200px;
    }
    .addCard {
        margin-top: 40px;
        padding: 5px;
    }
    .addSert {
        margin-top: 40px;
        padding: 5px; 
    }
  }

  @media (max-width:450px){
    .addCard form {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
    .card-input {
        width: 70%;
        margin-right: 0;
    }
    .card-add {
        width: 60%;
        margin-top: 5px;
    }
    .partners-container p, .twoPlusOne-container p {
        width: 100%;
    }
    .partners-container, .twoPlusOne-container {
        padding: 5px;
    }

    .shareToday h2 {
        margin: 20px 0;
    }

}