.about-table {
    width: 70%;
}

.price-table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
}
.price-table td {
    width: 33%;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
.price-table thead td {
    background: #eee;
    font-weight: bold;
}

.left {
    text-align: left !important;
    font-weight: 500 !important;
}